body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  text-align: center;
  /* font-size: 2rem; */
  font-size: xx-large;
}

.increaseBtn,
.decreaseBtn,
.resetBtn {
  padding: 12px;
  width: 100px;
  margin: 4px;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

.increaseBtn {
  background-color: red;
}

.decreaseBtn {
  background-color: green;
}

.resetBtn {
  background-color: gray;
}

.counter {
  color: darkred;
}

.decreaseBtn:disabled,
.resetBtn:disabled {
  opacity: 60%;
}


input {
  font-size: x-large;
  width: 100px;
}


